body {
  font-family: 'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", sans-serif;
  color: #222; }

.email {
  margin-top: 20px;
}

img {
    max-width: 20%;
}

.hero {
    margin-top: 30%;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 { font-size: 3.5rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.2rem; line-height: 1.25; letter-spacing: -.1rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
    
.hero {
    margin-top: 0%;
}
}
    


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
  font-weight: 400;
}
a:hover {
  color: #0FA0CE; }